<html>
  <body>
    <h1>Welcome.</h1>
    <p>Our goal is to get you, <%= @user.full_name %>, Wasting as much time as possible.</p>
    <p>Please log in today. <a href="http://www.myflix.com/login"> Log in </a></p>
  </body>
</html>
